BODY {
margin:10px;}

TABLE.kontakt {
font-family:Verdana;
color:black;
font-weight:normal;
font-size:9pt;}

TD.main {
font-family:Verdana;
color:black;
font-weight:normal;
text-align:left;
padding:0px;
font-size:9pt;}

DIV.copyright {
color:black;
font-family:Verdana;
font-size:7pt;
font-weight:normal;
text-align:right;}

DIV.tytul {
color:black;
font-size:12pt;
font-family:Verdana;
font-style:normal;
font-weight:bold;
text-decoration:none;}


A:link{
color:black;
font-size:9pt;
font-family:Verdana;
font-style:normal;
font-weight:bold;
text-decoration:none;
cursor:hand;
font-variant:normal;
text-transform:normal;
text-align:right;}

A:visited{
color:black;
font-size:9pt;
font-family:Verdana;
font-style:normal;
font-weight:bold;
text-decoration:none;
cursor:hand;
font-variant:normal;
text-transform:normal;
text-align:right;}

A:hover{
color:#e07d1b;
font-size:9pt;
font-family:Verdana;
font-style:normal;
font-weight:bold;
text-decoration:none;
cursor:hand;
font-variant:normal;
text-transform:normal;
text-align:right;}

A:active{
font-size:9pt;
font-family:Verdana;
font-style:normal;
font-weight:bold;
text-decoration:none;
cursor:hand;
font-variant:normal;
text-transform:normal;
text-align:right;}



A:link.menu{
font-size:12pt;}

A:visited.menu{
font-size:12pt;}

A:hover.menu{
font-size:12pt;}

A:active.menu{
font-size:12pt;}